In [97]:
import pandas as pd
import numpy as np

In [98]:
df = pd.read_csv('data/custom/saved_spectra_2.csv')
df.head(5)

,Raman Shift,"2044_D_siarczyn_sodu_5,5mM_9s_1acc_30%_3","2044_D_siarczyn_sodu_5,5mM_9s_1acc_30%_4","2044_G_siarczyn_sodu_5,5mM_9s_1acc_30%","2044_G_siarczyn_sodu_5,5mM_9s_1acc_30%_2","2044_G_siarczyn_sodu_5,5mM_9s_1acc_30%_3","2045_D_siarczyn_sodu_5,5mM_9s_1acc_30%","2045_D_siarczyn_sodu_5,5mM_9s_1acc_30%_2","2045_D_siarczyn_sodu_5,5mM_9s_1acc_30%_3","2045_G_siarczyn_sodu_5,5mM_9s_1acc_30%","2045_G_siarczyn_sodu_5,5mM_9s_1acc_30%_2","2041_D_siarczyn_sodu_5,5mM_9s_1acc_30%","2041_D_siarczyn_sodu_5,5mM_9s_1acc_30%_2","2041_G_siarczyn_sodu_5,5mM_9s_1acc_30%","2041_G_siarczyn_sodu_5,5mM_9s_1acc_30%_2","2044_D_siarczyn_sodu_5,5mM_9s_1acc_30%_2"
0,494.28,24264.0,19202.0,19938.0,21691.0,17971.0,19999.0,19653.0,22272.0,21057.0,22571.0,11389.0,14643.0,19975.0,16390.0,20459.0
1,496.53,23882.0,19303.0,19560.0,21744.0,17940.0,19828.0,19730.0,22601.0,21284.0,22362.0,11137.0,14449.0,19391.0,16042.0,20226.0
2,498.78,23848.0,19179.0,19719.0,21431.0,17981.0,19997.0,19758.0,22588.0,21257.0,22669.0,11350.0,14152.0,19511.0,16249.0,20696.0
3,501.02,23832.0,19126.0,19356.0,21235.0,17633.0,20072.0,19190.0,21916.0,20932.0,22118.0,11000.0,13631.0,19011.0,16213.0,20093.0
4,503.27,23433.0,18699.0,19125.0,21269.0,17303.0,19680.0,19321.0,21714.0,21107.0,22093.0,11147.0,14064.0,18866.0,16238.0,20391.0

In [99]:
df = df.set_index('Raman Shift').T.iloc[:,-10:]

In [100]:
df.head(5)

Raman Shift,1783.78,1785.49,1787.19,1788.90,1790.60,1792.31,1794.01,1795.72,1797.42,1799.12
"2044_D_siarczyn_sodu_5,5mM_9s_1acc_30%_3",3409.0,3534.0,3467.0,3561.0,3535.0,3449.0,3273.0,3547.0,3369.0,3332.0
"2044_D_siarczyn_sodu_5,5mM_9s_1acc_30%_4",3049.0,3094.0,2892.0,2954.0,3019.0,2977.0,3021.0,2989.0,2818.0,2864.0
"2044_G_siarczyn_sodu_5,5mM_9s_1acc_30%",3305.0,3220.0,3105.0,3281.0,3265.0,3295.0,3123.0,3209.0,3171.0,3349.0
"2044_G_siarczyn_sodu_5,5mM_9s_1acc_30%_2",3429.0,3332.0,3437.0,3516.0,3603.0,3557.0,3327.0,3388.0,3343.0,3251.0
"2044_G_siarczyn_sodu_5,5mM_9s_1acc_30%_3",2812.0,2732.0,2835.0,2875.0,2839.0,2852.0,2766.0,2881.0,2716.0,2780.0

In [102]:
num_rows = len(df)
podloze = np.array([0] * (num_rows // 2) + [1] * (num_rows - num_rows // 2))
modyfikacja = np.tile([0, 1], int(len(df) / 2) + 1)[:len(df)]
df['podloze'] = podloze
df['modyfikacja'] = modyfikacja

In [103]:
df.head()

Raman Shift,1783.78,1785.49,1787.19,1788.9,1790.6,1792.31,1794.01,1795.72,1797.42,1799.12,podloze,modyfikacja
"2044_D_siarczyn_sodu_5,5mM_9s_1acc_30%_3",3409.0,3534.0,3467.0,3561.0,3535.0,3449.0,3273.0,3547.0,3369.0,3332.0,0,0
"2044_D_siarczyn_sodu_5,5mM_9s_1acc_30%_4",3049.0,3094.0,2892.0,2954.0,3019.0,2977.0,3021.0,2989.0,2818.0,2864.0,0,1
"2044_G_siarczyn_sodu_5,5mM_9s_1acc_30%",3305.0,3220.0,3105.0,3281.0,3265.0,3295.0,3123.0,3209.0,3171.0,3349.0,0,0
"2044_G_siarczyn_sodu_5,5mM_9s_1acc_30%_2",3429.0,3332.0,3437.0,3516.0,3603.0,3557.0,3327.0,3388.0,3343.0,3251.0,0,1
"2044_G_siarczyn_sodu_5,5mM_9s_1acc_30%_3",2812.0,2732.0,2835.0,2875.0,2839.0,2852.0,2766.0,2881.0,2716.0,2780.0,0,0

In [104]:
std = df.iloc[:,:-2].groupby(df['podloze']).std()

In [105]:
std

Raman Shift,1783.78,1785.49,1787.19,1788.9,1790.6,1792.31,1794.01,1795.72,1797.42,1799.12
podloze,,,,,,,,,,
0,235.347565,276.897093,249.52784,308.696029,326.163047,312.627574,214.311856,257.515973,281.817232,263.576319
1,668.374561,694.316095,669.55869,686.408445,714.262144,704.736716,625.281137,698.307495,624.346001,692.742673

In [106]:
n_features = std.shape[1]
std['std_mean'] = std.iloc[:,:n_features].mean(axis=1)

In [107]:
std

Raman Shift,1783.78,1785.49,1787.19,1788.9,1790.6,1792.31,1794.01,1795.72,1797.42,1799.12,std_mean
podloze,,,,,,,,,,,
0,235.347565,276.897093,249.52784,308.696029,326.163047,312.627574,214.311856,257.515973,281.817232,263.576319,272.648053
1,668.374561,694.316095,669.55869,686.408445,714.262144,704.736716,625.281137,698.307495,624.346001,692.742673,677.833396